<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Danh sách đơn hàng
        </h1>
    </section>
    <section class="invoice">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    <i class="fa fa-globe"></i> Website Đồ Gỗ Nội Thất!
                </h2>
            </div>
        </div>
        <div class="row invoice-info">
            <div class="col-sm-4 invoice-col">
                Thông tin website:
                <address>
                    <strong>#Đồ Gỗ Nội Thất</strong><br>
                    Phone: 0979-349-831<br>
                    Email: Websitedogonoithat@gmail.com
                </address>
            </div>
            <div class="col-sm-4 invoice-col">
                <address>
                    <strong>Công ty đồ gỗ nội thất liên kết:</strong><br>
                    + Công Ty TNHH Kiến Hưng<br>
                    + Công Ty Cổ Phần Xây Dựng & Nội Thất Hoàn Cầu<br>
                    + Công Ty CP Đầu Tư Và XNK Tân Huy Hoàng<br>
                    + Công Ty Cổ Phần Nội Thất Đức Khang<br>
                    + CTCP Kiến trúc nội thất Mộc Đạt<br>
                </address>
            </div>
            <div class="col-sm-4 invoice-col">
                <strong>Các đơn hàng hiện tại:</strong><br>
                <div *ngFor="let dh of donhangs">
                   Mã: [{{dh.madh}}]<br>
                   Khách hàng: [{{dh.tenkh}}]<br>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 table-responsive">
               Lọc theo <select name="" (change)="getbytt($event.target.value)" class="btn btn-success" id="">
                   <option value="all">Tất cả</option>
                   <option *ngFor="let t of dstt" [value]="t.name">{{t.name}}</option>
               </select>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Mã đơn hàng</th>
                            <th>Khách hàng</th>
                            <th>Ngày đặt hàng</th>
                            <th>Trạng thái</th>
                            <th><i class="glyphicon glyphicon-pencil"></i></th>
                            <th>Chi tiết</th> <th>Hủy đơn</th>
                            <th>Tình Trạng</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let dh of donhangs">
                        <td>{{dh.madh}}</td>
                        <td>{{dh.tenkh}}</td>
                        <td>{{dh.ngaydathang}}</td>
                        <td>{{dh.tinhtrang}}</td>
                         <td *ngIf="dh.tinhtrang=='chưa xác nhận'"><a class="btn btn-success" (click)="thaydoitrangthai(dh.madh)">Xác nhận</a></td>
                         <td *ngIf="dh.tinhtrang=='đã xác nhận'"><a class="btn btn-success" (click)="thaydoitrangthai(dh.madh)">Đóng gói</a></td>
                         <td *ngIf="dh.tinhtrang=='đã đóng gói'"><a class="btn btn-success" (click)="thaydoitrangthai(dh.madh)">Giao hàng</a></td>
                         <td *ngIf="dh.tinhtrang=='đang giao hàng'"><a class="btn btn-success" (click)="thaydoitrangthai(dh.madh)">Xác nhận nhận hàng</a></td>
                         <td *ngIf="dh.tinhtrang=='đã nhận hàng'"><a class="btn btn-success" (click)="thaydoitrangthai(dh.madh)">Hoàn tất</a></td>
                         <td *ngIf="dh.tinhtrang=='đã thanh toán'"><i class="gg-check-o"></i></td>
                         <td *ngIf="dh.tinhtrang=='đã hủy đơn'"><i class="gg-danger"></i></td>
                         <td><a class="btn btn-primary" (click)="getByID(dh.madh)">Xem</a></td>
                         <ng-container>
                         <td *ngIf="dh.tinhtrang!='đã thanh toán'||dh.tinhtrang!='đã hủy đơn'"><a class="btn btn-success" (click)="huydon(dh.madh)">Hủy đơn</a></td>
                         <td *ngIf="dh.tinhtrang=='đã thanh toán'||dh.tinhtrang=='đã hủy đơn'">Không thể hủy</td>
                        </ng-container>
                        </tr>
                    </tbody>
                </table>
                <div class="col-xs-12" style="text-align: right;">
                    <ngb-pagination [collectionSize]="total" [pageSize]="size" [(page)]="index" [maxSize]="10" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
                  </div>
            </div>
        </div>
        <div class="row no-print">
            <div class="col-xs-12">
            <button target="_blank" onclick="window.print()" class="btn btn-default"><i class="fa fa-print"></i> In hóa đơn</button>
                <button type="button" class="btn btn-success pull-right">
                    <i class="fa fa-credit-card"></i> Gửi thanh toán
                </button>
                <button type="button" class="btn btn-primary pull-right" style="margin-right: 5px;">
                    <i class="fa fa-download"></i> Tạo PDF
                </button>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
</div>
<div   id="chitietModal" *ngIf="donhang" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                  <h4 class="modal-title">Chi tiết đơn hàng</h4>
        
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
            <form id="demo-form2"  [formGroup]="formdata"  class="form-horizontal form-label-left ">
                  
                    <table class="table">
                        <tbody>
                            <tr>
                                <td> <label  class=" control-label"> Mã đơn:</label><input readonly style="cursor:not-allowed" type="text" formControlName="madh" placeholder="mã code" class="form-control" >
                         
                                </td>
                                <td><label  class=" control-label"> Tên đăng nhập:</label><input type="text" formControlName="tendangnhap"  class="form-control">
                                  <div *ngIf="submitted && f.tendangnhap.errors" class="invalid-feedback">
                                    <div *ngIf="f.tendangnhap.errors.required">tên sản phẩm là bắt buộc</div>
                                  </div>
                                </td>
                            </tr>
                            <tr>
                                <td><label  class=" control-label"> Ngày đặt:</label>
                                    <input type="text" readonly class="form-control" formControlName="ngaydathang">
                                    <div *ngIf="submitted && f.ngaynhap.errors" class="invalid-feedback">
                                      <div *ngIf="f.ngaynhap.errors.required">Ngày nhập là bắt buộc</div>
                                    </div>
                                </td>
                                <td><label  class=" control-label"> Ngày yêu cầu:</label>
                                    <input type="date" class="form-control" formControlName="ngayyeucau" value="{{donhang.ngayyeucau}}">
                                    <div *ngIf="submitted && f.ngayyeucau.errors" class="invalid-feedback">
                                      <div *ngIf="f.ngayyeucau.errors.required">Ngày nhập là bắt buộc</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label  class=" control-label"> Khách hàng:</label><input type="text" formControlName="tenkhachang" class="form-control">
                                    <div *ngIf="submitted && f.tenkhachang.errors" class="invalid-feedback">
                                          <div *ngIf="f.tenkhachang.errors.required">Ngày nhập là bắt buộc</div>
                                        </div>
                                </td>
                                <td>
                                    <label  class=" control-label">Địa chỉ:</label><input type="text" formControlName="diachinguoinhan" class="form-control">
                                    <div *ngIf="submitted && f.diachinguoinhan.errors" class="invalid-feedback">
                                          <div *ngIf="f.diachinguoinhan.errors.required">Ngày nhập là bắt buộc</div>
                                        </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label  class=" control-label"> Email:</label><input type="text" formControlName="email" class="form-control">
                                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                          <div *ngIf="f.email.errors.required">Ngày nhập là bắt buộc</div>
                                        </div>
                                </td>
                                <td>
                                    <label  class=" control-label">Sđt:</label><input type="text" formControlName="sdt" class="form-control">
                                    <div *ngIf="submitted && f.sdt.errors" class="invalid-feedback">
                                          <div *ngIf="f.sdt.errors.required">Ngày nhập là bắt buộc</div>
                                        </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <label for="">Danh sách sản phẩm</label>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Sản phẩm</th>
                                <th><span style="float: right;">Số lượng</span></th>
                                <th><span style="float: right;">Đơn giá</span></th>
                                <th><span style="float: right;">Thành tiền</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of donhang.chitiet">
                                <td>{{donhang.chitiet.indexOf(item)+1}}</td>
                                <td>{{item.tensp}}</td>
                                <td><span style="float: right;">{{item.soluong}}</span></td>
                                <td><span style="float: right;">{{item.gia|currency:'VND'}}</span></td>
                                <td><span style="float: right;">{{item.soluong*item.gia|currency:'VND'}}</span></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                            <td><label for="">Tổng cộng</label></td>
                            <td><label style="float: right;">{{totalUnit}}</label></td>
                            <td></td>
                            <td><label style="float: right;">{{totalPrice|currency:'VND'}}</label></td>
                        </tr>
                        </tfoot>
                    </table>
                    <div class="form-group modal-footer">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button type="submit" class="btn btn-success btn-sm btn-submit">Lưu</button>
                            <button class="btn btn-primary" type="reset">Làm mới</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>