<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Danh sách đơn hàng
        </h1>
    </section>
    <section class="invoice">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    <i class="fa fa-globe"></i> Website Đồ Gỗ Nội Thất!
                </h2>
            </div>
        </div>
        <div class="row invoice-info">
            <div class="col-sm-4 invoice-col">
                Thông tin website:
                <address>
                    <strong>#Đồ Gỗ Nội Thất</strong><br>
                    Phone: 0979-349-831<br>
                    Email: Websitedogonoithat@gmail.com
                </address>
            </div>
            <div class="col-sm-4 invoice-col">
                <address>
                    <strong>Công ty đồ gỗ nội thất liên kết:</strong><br>
                    + Công Ty TNHH Kiến Hưng<br>
                    + Công Ty Cổ Phần Xây Dựng & Nội Thất Hoàn Cầu<br>
                    + Công Ty CP Đầu Tư Và XNK Tân Huy Hoàng<br>
                    + Công Ty Cổ Phần Nội Thất Đức Khang<br>
                    + CTCP Kiến trúc nội thất Mộc Đạt<br>
                </address>
            </div>
            <div class="col-sm-4 invoice-col">
                <strong>Các đơn hàng hiện tại:</strong><br>
                <div *ngFor="let dh of donhangs">
                   Mã:[{{dh.madh}}]<br>
                   Khách hàng:[{{dh.tenkh}}]<br>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 table-responsive">
               Lọc theo <select name="" (change)="getbytt($event.target.value)" class="btn btn-success" id="">
                   <option value="all">Tất cả</option>
                   <option *ngFor="let t of dstt" [value]="t.name">{{t.name}}</option>
               </select>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Mã đơn hàng</th>
                            <th>Khách hàng</th>
                            <th>Ngày đặt hàng</th>
                            <th>Tổng giá trị</th>
                            <th>Trạng thái</th>
                            <th><i class="glyphicon glyphicon-pencil"></i></th>
                            <th>Chi tiết</th> <th>Hủy đơn</th>
                            <th>Tình Trạng</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let dh of donhangs">
                        <td>{{dh.madh}}</td>
                        <td>{{dh.tenkh}}</td>
                        <td>{{dh.ngaydathang}}</td>
                        <td>{{dh.gia}}</td>
                        <td>{{dh.tinhtrang}}</td>
                         <td *ngIf="dh.tinhtrang=='chưa xác nhận'"><a class="btn btn-success" (click)="thaydoitrangthai(dh.madh)">Xác nhận</a></td>
                         <td *ngIf="dh.tinhtrang=='đã xác nhận'"><a class="btn btn-success" (click)="thaydoitrangthai(dh.madh)">Đóng gói</a></td>
                         <td *ngIf="dh.tinhtrang=='đã đóng gói'"><a class="btn btn-success" (click)="thaydoitrangthai(dh.madh)">Giao hàng</a></td>
                         <td *ngIf="dh.tinhtrang=='đang giao hàng'"><a class="btn btn-success" (click)="thaydoitrangthai(dh.madh)">Xác nhận nhận hàng</a></td>
                         <td *ngIf="dh.tinhtrang=='đã nhận hàng'"><a class="btn btn-success" (click)="thaydoitrangthai(dh.madh)">Hoàn tất</a></td>
                         <td *ngIf="dh.tinhtrang=='đã thanh toán'">Hoàn tất</td>
                         <td *ngIf="dh.tinhtrang=='đã hủy đơn'">X</td>
                         <td><a class="btn btn-primary">Xem</a></td>
                         <ng-container>
                         <td *ngIf="dh.tinhtrang!='đã thanh toán'||dh.tinhtrang!='đã hủy đơn'"><a class="btn btn-success" (click)="huydon(dh.madh)">Hủy đơn</a></td>
                         <td *ngIf="dh.tinhtrang=='đã thanh toán'||dh.tinhtrang=='đã hủy đơn'">Không thể hủy</td>
                        </ng-container>
                        </tr>
                    </tbody>
                </table>
                <div class="col-xs-12" style="text-align: right;">
                    <ngb-pagination [collectionSize]="total" [pageSize]="size" [(page)]="index" [maxSize]="10" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
                  </div>
            </div>
        </div>
        <div class="row no-print">
            <div class="col-xs-12">
            <button target="_blank" onclick="window.print()" class="btn btn-default"><i class="fa fa-print"></i> In hóa đơn</button>
                <button type="button" class="btn btn-success pull-right">
                    <i class="fa fa-credit-card"></i> Gửi thanh toán
                </button>
                <button type="button" class="btn btn-primary pull-right" style="margin-right: 5px;">
                    <i class="fa fa-download"></i> Tạo PDF
                </button>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
</div>