<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Chi tiết đơn hàng
        </h1>
    </section>
    <section class="invoice">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    <i class="fa fa-globe"></i> Website Đồ Gỗ Nội Thất!
                    <small class="pull-right">Update Phiên bản:New</small>
                </h2>
            </div>
        </div>
        <div class="row invoice-info">
            <div class="col-sm-4 invoice-col">
                Thông tin website:
                <address>
                    <strong>Đồ Gỗ Nội Thất</strong><br>
                    Phone: 0979-349-831<br>
                    Email: Websitedogonoithat@gmail.com
                </address>
            </div>
            <div class="col-sm-4 invoice-col">
                <address>
                    <strong>Công ty đồ gỗ nội thất:</strong><br>
                    CNC Interior: Quận Bình Thạnh, Tp. Hồ Chí Minh<br>
                    Gỗ Việt     : Phường Tân Thới Hòa, Quận Tân Phú, TP.HCM<br>
                    WOODPRO     : Thị Trấn Đông Anh, Đông Anh, Hà Nội<br>
                    2N FURNITURE: P. Biên Hòa, Đồng Nai<br>
                </address>
            </div>
        </div>
                            <!--?php $i=1;
                    $ct=DB::table('tblchitiethdb')->join('tblsanpham','tblchitiethdb.idsp','=','tblsanpham.id')->select('tblchitiethdb.*','tblsanpham.tensp')->where('tblchitiethdb.idhdb',$value->id)->get();
                    foreach ($ct as $value2)//hdb o controller
                        {
                            ?-->
        <div class="row invoice-info">
            <div class="col-sm-4 invoice-col">
                <table class='table'>
                    <!--?php $i=1;
                    $ct=DB::table('tblchitiethdb')->join('tblsanpham','tblchitiethdb.idsp','=','tblsanpham.id')->select('tblchitiethdb.*','tblsanpham.tensp')->where('tblchitiethdb.idhdb',$value->id)->get();
                    foreach ($ct as $value2)//hdb o controller
                    {?-->
                    <tr>
                    <td>Mã đơn hàng:</td>
                    <td></td>
                    </tr>
                    <tr>
                    <td>Tên khách hàng:</td>
                    <td></td>
                    </tr>
                    <tr>
                    <td>Ngày đặt:</td>
                    <td></td>
                    </tr>
                    <tr>
                    <td>Trạng thái:</td>
                    <td></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                        <th></th>
                        <th>Mã chi tiết</th>
                        <th>Tên sản phẩm</th>
                        <th>Số lượng </th>
                        <th>Đơn giá</th>
                        <th>Thành tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                    <!--?php $i=1;
                    $ct=DB::table('tblchitiethdb')->join('tblsanpham','tblchitiethdb.idsp','=','tblsanpham.id')->select('tblchitiethdb.*','tblsanpham.tensp')->where('tblchitiethdb.idhdb',$value->id)->get();
                    foreach ($ct as $value2)//hdb o controller
                        {
                            ?-->
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr><td colspan='5'> Tổng tiền hàng: <b></b></td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row no-print">
            <div class="col-xs-12">
            <button target="_blank" onclick="window.print()" class="btn btn-default"><i class="fa fa-print"></i> In hóa đơn</button>
                <button type="button" class="btn btn-success pull-right">
                    <i class="fa fa-credit-card"></i> Gửi thanh toán
                </button>
                <button type="button" class="btn btn-primary pull-right" style="margin-right: 5px;">
                    <i class="fa fa-download"></i> Tạo PDF
                </button>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
</div>